[submodule "linux"]
	path = linux
	url = https://github.com/vernon2gh/linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/vernon2gh/buildroot.git
[submodule "lk_modules"]
	path = lk_modules
	url = https://github.com/vernon2gh/lk_modules.git
